<div> <h3>Bar Chart</h3>{{bar-chart}} </div>
<div> <h3>SVG Chart</h3>{{svg-chart}} </div>
<div> <h3>Vertical Chart</h3>{{vertical-chart}} </div>
<div> <h3>d3 Text</h3>{{d3-text}} </div>
<div> <h3>Multi Line Chart</h3>{{multi-line-chart}} </div>
<div> <h3>Mixed Graph</h3>{{mixed-graph}} </div>